<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Aaron Martin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="../css/style.css">

</head>

<body>
	<header id="header">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li class="active"><a href="about.html">About</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>

		<h1>Aaron</h1>
		<h1>Martin</h1>
		<p>Things are cool.</p>
	</header>

	<main>
		<div>
			<h1>This website is a work in progress, please come back later</h1>
			<h2>I am working torwards my Bachelors at Iowa State University.</h2>
		</div>

		<div id="searchTerminal">
			<input type="text">
		</div>

		<div id="index"></div>

		<div id="table"></div>

		<h3>Interests</h3>
		<div>Computer Hardware</div>

		<p>
			Credits:
			Typeface: https://manropefont.com/

			CSS Modules: https://purecss.io/

			Header: https://chenhuijing.com/blog/the-one-in-black-and-orange/#%F0%9F%8E%99

			Inspirations:
			https://jgthms.com/web-design-in-4-minutes/
			https://perfectmotherfuckingwebsite.com/
			https://casual-effects.com/markdeep/#getstarted
			https://dev.to/chaoocharles/i-created-a-responsive-portfolio-website-using-pure-htm-css-and-javascript-4d7n
		</p>
	</main>
</body>

<footer>

</footer>

</html>