<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Aaron Martin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <h1>This is my website</h1>
    <p>Hello</p>

    <p>
        Credits:
        Typeface: https://manropefont.com/
        Inspirations: https://perfectmotherfuckingwebsite.com/
        https://casual-effects.com/markdeep/#getstarted

    </p>
</body>

</html>