<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Aaron Martin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/header.css">

</head>

<body>
	<!-- Header -->
	<header id="header">
		<h2>Aaron Martin</h2>
		<h1>Computer Engineering</h1>
	</header>

	<main>
		<h2>About:</h2>
		<p>I am a studying Computer Engineering at Iowa State University.</p>
		<i>Expected Graduation - Fall 2021</i>

		<h3>Interests</h3>
			<div>Interests Div</div>
			<div>Computer Hardware</div>
			<div>Power User</div>

		<h3>Projects</h3>
			<div>Computer Graphics</div>
			<div>Notetaking</div>
			<div>Hide and Seek</div>

		<p>
			Credits:
			Typeface: https://manropefont.com/

			CSS Modules: https://purecss.io/

			Header: https://chenhuijing.com/blog/the-one-in-black-and-orange/#%F0%9F%8E%99

			Inspirations:
			https://jgthms.com/web-design-in-4-minutes/
			https://perfectmotherfuckingwebsite.com/
			https://casual-effects.com/markdeep/#getstarted
			https://dev.to/chaoocharles/i-created-a-responsive-portfolio-website-using-pure-htm-css-and-javascript-4d7n

		</p>
		<p>
			TODO:
			light and dark mode,
			Usemarkdeep embeds for images and diagrams,
			color,
			contact,
			projects,
			interests
		</p>
	</main>
</body>

</html>