<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Aaron Martin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">

</head>

<body>
    <!-- Header -->
    <header id="header">
        <h2>Aaron Martin</h2>
        <h1>Student - Computer Engineering</h1>
    </header>
    <main>
        <h2>idk something cool</h2>


        <h3>About:</h3>
        <p>I am a student at Iowa State University on track to recieve my Bachelors in Fall 2021. I have a wide array of
            interests.</p>
        <p>
            String of interests
            clicking on an interest splits into sub categories
            the categories never end, just like my thoughts
            ex: STEM -> science, tech, eng, math
            eng -> ece, mech, aero, biomech, chem
        </p>
        <h3>Projects</h3>
        <p></p>
        <pre>im coding</pre>
        <p>
            Credits:
            Typeface: https://manropefont.com/

            CSS Modules: https://purecss.io/

            Header: https://chenhuijing.com/blog/the-one-in-black-and-orange/#%F0%9F%8E%99

            Inspirations:
            https://jgthms.com/web-design-in-4-minutes/
            https://perfectmotherfuckingwebsite.com/
            https://casual-effects.com/markdeep/#getstarted
            https://dev.to/chaoocharles/i-created-a-responsive-portfolio-website-using-pure-htm-css-and-javascript-4d7n

        </p>
        <p>
            TODO:
            light and dark mode
            Usemarkdeep embeds for images and diagrams
            color
            contact
            projects
            interests
        </p>
    </main>
</body>

</html>