<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Aaron Martin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="../css/style.css">

</head>

<body>
	<header id="header">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li class="active"><a href="contact.html">Contact</a></li>
		</ul>

		<h1>Aaron</h1>
		<h1>Martin</h1>
		<p>Things are cool.</p>
	</header>

	<main>
		<div>
			<h1>This website is a work in progress, please come back later</h1>
			<h2>I am working torwards my Bachelors at Iowa State University.</h2>
		</div>

		<div id="searchTerminal">
			<input type="text">
		</div>

		<div id="index"></div>

		<div id="table"></div>

	</main>
</body>

<footer>

</footer>

</html>