<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Aaron Martin's Projects</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="../css/style.css">

</head>

<body>
	<header id="header">
		<ul>
			<li><a href="index.html">Home</a></li>
			<!-- <li><a href="about.html">About</a></li> -->
			<li class="active"><a href="projects.html">Projects</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="knowledge.html">Other</a></li>
			<!-- <li><a href="knowledge.html">Knowledgebase</a></li> -->
		</ul>

		<h1>Aaron</h1>
		<h1>Martin</h1>
	</header>

	<main>



	</main>
</body>

<footer>

</footer>

</html>